@import url(../assets/spacing.css);
@import url(./colors.css);
@import url(./sizes.css);
@import url(./fonts.css);

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    direction: rtl;
    font-family: IRANYekanWeb;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding-bottom: var(--space-48);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-48);
}

.header {
    width: 100%;
    height: 266px;
    background: url(./Image/Home-Slider.Wamin.svg);
    background-repeat: no-repeat;
}


.main {
    width: 100%;
    height: 3092px;
    padding: 0 var(--space-16);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 160px;
}

.presentation {
    width: 1031px;
    height: 773px;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-48);
}

.presentation__videoSection {
    width: 696px;
    height: 509px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-48);
}

.presentation__header {
    width: 620px;
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-12);
}

.presentation__title {
    color: var(--color-textDark);
    font-weight: 400;
    font-size: var(--font-size-xhuge);
    line-height: var(--space-48);
    text-align: center;
    letter-spacing: -0.5px;
}

.presentation__description {
    width: 338px;
    height: 20px;
    color: var(--color-textLight);
    font-size: var(--font-size-xsmall);
    font-weight: 400;
    line-height: var(--space-20);
    letter-spacing: -0.5px;
    text-align: center;
}

.presentation__sliderIndicators {
    width: 68px;
    height: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-8);
}

.presentation__sliderDots {
    width: 4px;
    height: 4px;
    border-radius: 999px;
    background: var(--color-N200);
}

.presentation__sliderDots--ellipse {
    width: 16px;
    height: 6px;
}

.presentation__sliderDots--big {
    width: 6px;
    height: 6px;
}

.presentation__video {
    width: 100%;
    height: 363px;
    border-radius: var(--space-4);
}

.presentation__startPlanSection {
    width: 100%;
    height: 216px;
    padding: var(--space-24);
    border-radius: var(--space-12);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space-24);
    background: linear-gradient(216.85deg, rgba(0, 177, 18, 0.05) 30.34%, rgba(0, 113, 162, 0.05) 96.4%);
}

.presentation__startPlanText {
    font-weight: 400;
    font-size: var(--font-size-huge);
    color: var(--color-textDark);
    letter-spacing: -0.5px;
    line-height: var(--space-48);
    text-align: center;
}

.presentation__startPlanText--boldText {
    font-weight: 700;
}

.presentation__startPlanText--greenText {
    color: var(--color-primary);
}

.presentation__startPlanItems {
    width: 656px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstRow,
.secondRow{
    width: 50%;
    display: flex;
    gap: var(--space-48);
    justify-content: space-between;
    align-items: center;
}

.presentation__startPlanItem {
    width: auto;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-12);
}

.presentation__startPlanItemIcon {
    width: 24px;
    height: 24px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation__startPlanItemIcon--login {
    color: #545409;
    background: linear-gradient(158.66deg, #EFEDEC 3.16%, #F9FBF3 100.67%);
}

.presentation__startPlanItemIcon--project {
    color: #233104;
    background: linear-gradient(161.84deg, #F5FBE9 5.39%, #F6F9EF 100.76%);
}

.presentation__startPlanItemIcon--money {
    color: #064242;
    background: linear-gradient(156.61deg, #F8FCEE 6.4%, #F4FAFC 94.45%);
}

.presentation__startPlanItemIcon--withUs {
    color: #038857;
    background: linear-gradient(146.36deg, #DCF5EC 4.7%, #EFF9F5 91.33%);
}


.presentation__startPlanItemText {
    color: var(--color-textDark);
    font-size: var(--font-size-normal);
    letter-spacing: -0.5px;
    font-weight: 700;
}

.presentation__startPlanBtn {
    width: 232px;
    height: 48px;
    border-radius: var(--space-12);
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-8);
    font-size: var(--font-size-large);
    line-height: calc(var(--font-size-normal) + var(--font-size-tiny));
    cursor: pointer;
}

.partnershipBlock {
    width: 100%;
    height: 1371px;
    padding: var(--space-64) var(--space-16) var(--space-20) var(--space-16);
    background-color: var(--color-primary);
    border-radius: var(--space-12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--space-12);
}

.lineSeprator {
    width: 1174px;
    height: 1px;
    color: var(--color-primaryLight2);
}

.partnershipBlock__data {
    width: 100%;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-48);
}


.partnershipBlock__title {
    width: 100%;
    color: var(--color-white);
    font-size: var(--font-size-xhuge);
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: var(--space-48);
}

.partnershipBlock__dataBox {
    position: relative;
    width: 600px;
    height: 139px;
    padding: var(--space-12) var(--space-24);
    background: var(--color-primaryDark);
    border-radius: var(--space-12);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-40);
}

.partnershipBlock__dataBox::after {
    content: ' ';
    width: 1px;
    height: 92px;
    background: var(--color-primaryLight2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
}

.partnershipBlock__membersNumber {
    width: 236px;
    height: 92px;
    padding: var(--space-12);
    color: var(--color-white);
    font-size: var(--font-size-xhuge);
    text-align: right;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: var(--space-32);
    border-radius: var(--space-12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-12);
}

/* .partnershipBlock__dynamicMembersNumber{

} */

.partnershipBlock__staticMembersDescription--smallFont {
    height: var(--space-24);
    font-size: var(--font-size-small);
    text-align: right;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: var(--space-24);
}

.partnershipBlock__lastMembers {
    width: 236px;
    height: 112px;
    padding: var(--space-12);
    color: var(--color-white);
    border-radius: var(--space-12);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-12)
}

.partnershipBlock__lastMembers {
    color: var(--color-primaryLight);
    font-size: var(--font-size-small);
    line-height: var(--space-24);
    letter-spacing: -0.5px;
    text-align: right
}

.partnershipBlock__lastTwinMembers {
    width: 212px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.partnershipBlock__lastMembersWrapper {
    display: flex;
    gap: var(--space-8);
}

.partnershipBlock__lastMembersIcon {
    font-size: var(--font-size-large);
    width: var(--space-20);
    height: var(--space-20);
}

.partnershipBlock__lastMembersName {
    font-weight: 300;
    font-size: var(--font-size-small);
    line-height: var(--space-20);
    text-align: right;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.partnershipBlock__projects {
    position: relative;
    width: 100%;
    height: 750px;
    padding: var(--space-40) 0;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-40);
    overflow: hidden;
}

.partnershipBlock__projects::after,
.partnershipBlock__projects::before {

    content: ' ';
    width: 100%;
    height: 1px;
    background: var(--color-primaryLight2);
    position: absolute;
}

.partnershipBlock__projects::before {
    top: 0;
}

.partnershipBlock__projects::after {
    bottom: 0;
}


.partnershipBlock__projectsHeader {
    width: 390px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space-12);
}

.partnershipBlock__projectsTitle {
    font-weight: 700;
    font-size: var(--font-size-xhuge);
    line-height: var(--space-48);
    letter-spacing: -0.5px;
}

.partnershipBlock__projectsDescription {
    width: 390px;
    height: 24px;
    font-size: var(--font-size-xlarge);
    line-height: var(--space-24);
    font-weight: 400;
    letter-spacing: -0.5px;
    text-align: center
}

.partnershipBlock__projectsSliderWrapper {
    position: relative;
    width: 100%;
    height: 448px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-24);
    overflow-x: auto;
}

.partnershipBlock__projectsSliderWrapper::-webkit-scrollbar {
    display: none;
}

.nextSlideIcon,
.perviousSlideIcon{
    width: 40px;
    height: 40px;
    background: var(--color-white);
    border: 1px solid var(--color-N200);
    border-radius: 999px;

    position: absolute;
    transform: translateY(-50%);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextSlideIcon
{
    top:50%;
    left:1%;
    font-size: 20px;
}

.perviousSlideIcon{
    top:50%;
    right:0;
}

.projectsSliderItem {
    min-width: 386px;
    height: 100%;
    background: var(--color-white);
    border-radius: var(--space-12);
    border: 2px solid var(--color-white);
    box-shadow: 2px 4px 16px 0px #00000014;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.projectsSliderItem__Header {
    position: relative;
    width: 386px;
    height: 160px;
}

.projectsSliderItem__OrganizationData {
    position: absolute;
    width: 100%;
    padding: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-8);
}

.projectsSliderItem__OrganizationLogo {
    width: 40px;
    height: 40px;
    border-radius: 999px;
}

.projectsSliderItem__OrganizationName {
    font-size: var(--font-size-xsmall);
    font-weight: 400;
    line-height: calc(var(--space-20) + var(--space-8));
}

.projectsSliderItem__Data {
    width: 100%;
    padding: var(--space-20);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.projectsSliderItem__Title {
    width: 329px;
    height: 64px;
    font-weight: 700;
    color: var(--color-N700);
    font-size: var(--font-size-large);
    line-height: var(--space-32);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.projectsSliderItem__Description {
    font-weight: 400;
    color: var(--color-textLight);
    font-size: var(--font-size-small);
    line-height: var(--space-24);
    width: 337px;
    height: 75px;
    overflow: hidden;
    letter-spacing: -0.5px;
    text-align: right;
}

.projectsSliderItem__BtnWrapper {
    width: 389px;
    height: 72px;
    padding: var(--space-20);
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsSliderItem__BtnMoreLearn {
    width: 349px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: var(--space-8);
    font-size: var(--font-size-xsmall);
    font-weight: 700;
    cursor: pointer;
}

.partnershipBlock__startProjectBtn {
    width: 232px;
    height: 48px;
    color: var(--color-textDark);
    background: var(--color-white);
    font-size: var(--font-size-large);
    line-height: calc(var(--font-size-normal) + var(--font-size-tiny));
    font-weight: 400;
    border-radius: var(--space-12);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-8);
}


.partnershipBlock__aboutPartnershipWrapper {
    width: 100%;
    height: 200px;
    padding: var(--space-12);
    color: var(--color-white);
    background: var(--color-primaryDark);
    border-radius: var(--space-12);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-40);
}

.partnershipBlock__aboutPartnershipBlock {
    width: 572px;
    height: 176px;
    padding: var(--space-12);
    border-radius: var(--space-12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-12);
}

.partnershipBlock__aboutPartnershipTitle {
    font-weight: 700;
    font-size: var(--font-size-xlarge);
    line-height: var(--font-size-xhuge);
    letter-spacing: -0.5px;
}

.partnershipBlock__aboutPartnershipText {
    font-weight: 400;
    font-size: var(--font-size-xsmall);
    line-height: var(--font-size-huge);
    letter-spacing: -0.5px;
}

.FAQBlock {
    width: 800px;
    min-height: 628px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-40);
}

.FAQBlock__header {
    width: 127px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-8);
    background: var(--color-white);
}

.FAQBlock__icon {
    width: 56px;
    height: 56px;
    border-radius: 100px;
    background: #00B1890D;
    color: var(--color-primary);
    font-size: var(--font-size-xlarge);
    display: flex;
    justify-content: center;
    align-items: center;
}

.FAQBlock__title {
    font-size: var(--font-size-xlarge);
    font-weight: 400;
    line-height: var(--space-32);
    color: var(--color-textHeading);
}

.FAQBlock__questionsWrapper {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-12);
}

.FAQBlock__questionItem {
    width: 800px;
    min-height: 72px;
    padding: var(--space-8) var(--space-12);
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent, #4FAE8B, transparent) 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FAQBlock__questionPart {
    width: 776px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-8);
}

.FAQBlock__questionText {
    width: 744px;
    min-height: 24px;
    color: var(--color-textHeading);
    font-size: var(--font-size-normal);
    line-height: var(--space-24);
    font-weight: 400;
    text-align: right;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.FAQBlock__questionIcon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* .FAQBlock__answerText {
    width: ;
    height: ;
    background: ;
    display: ;
    flex-direction: ;
    justify-content: ;
    align-items: ;
    gap: ;
} */